a {
    color: #ff594f;
    transition: all .3s ease;
}

a:hover {
    text-decoration: line-through;
    color: #ff594f;
}

a:focus {
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    background-color: #333;
}

::selection {
    color: #fff;
    background-color: #333;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #ebebeb;
}
/* Typography */

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #555;
}

p {
    margin-bottom: 16px;
    margin-top: 0;
}

a, input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.4;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

blockquote {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

blockquote i {
    font-size: 40px !important;
    margin-bottom: 20px;
}

blockquote cite {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-top: 15px;
}

blockquote small {
    font-weight: 400;
}

@media (min-width: 768px) {
    blockquote {
        font-size: 24px;
    }
}

abbr {
    color: #67dee8;
    border-width: 2px;
}

mark, .mark {
    background-color: #ff594f;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1472px;
    padding: 0 32px;
    margin: 0 auto;
}

.grid-css {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media all and (max-width: 768px) {
    .grid-css {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media all and (max-width: 470px) {
    .grid-css {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-css a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.grid-css img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-css .grid-item {
    padding-top: 100%;
    position: relative;
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hoverbox {
    position: relative;
    overflow: hidden;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.hoverbox.light .hb_back h2, .hoverbox.light .hb_back h3,
.hoverbox.light .hb_back h4 {
    color: #333;
}

.hb_back {
    background-color: rgba(255, 255, 255, .8);
    color: #333;
    padding: 20px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    overflow: hidden;
    transition: all .3s cubic-bezier(.5, .72, .24, .94);
}

.hb_back h2, .hb_back h3, .hb_back h4 {
    color: #fff;
}

.ef-push-left .hb_back, .ef-move-right .hb_back {
    transform: translate(-100%, 0);
}

.ef-push-top:hover .hb_back, .ef-push-right:hover .hb_back,
.ef-push-bottom:hover .hb_back, .ef-push-left:hover .hb_back,
.ef-move-top:hover .hb_back, .ef-move-right:hover .hb_back,
.ef-move-bottom:hover .hb_back, .ef-move-left:hover .hb_back {
    transform: translate(0, 0);
}

.page-title {
    padding: 80px 0;
}

.page-title__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 320px) {
    .page-title__title {
        font-size: calc(2.27273vw + 22.72727px);
    }
}

@media (min-width: 1200px) {
    .page-title__title {
        font-size: 50px;
    }
}

.page-title__title .typing__module {
    display: inline-block;
}

@media all and (max-width: 531px) {
    .page-title__title .typing__module {
        height: 98px;
    }
}


.page-title__text {
    font-size: 16px;
    color: #a3a3a3;
}

.page-title__divider {
    width: 40px;
    height: 3px;
    background-color: #333;
    margin-top: 30px;
}

.page-title__links {
    margin-top: 24px;
    display: flex;
    gap: 32px;
    height: 50px;
}

.page-title__links li {
    font-size: 36px;
    transition: opacity 0.2s linear;
}

.page-title__links li:hover {
    opacity: 0.7;
}

.social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    text-align: center;
    border: 1px solid #ebebeb;
    transition: all .3s ease;
}

.social-icon:hover {
    border-color: #ff594f;
    background-color: #ff594f;
    color: #fff;
}

.title {
    margin-bottom: 50px;
}

.title__title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    animation: blink .7s infinite;
}

.works-wrapper {
    background-color: #fbfbfb;
    padding: 80px 0;
}

.work {
    position: relative;
}

.work .hb_back {
    padding: 20px;
}

.work__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.work__tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.work__text {
    margin-bottom: 8px;
}

.work__tags li {
    padding: 4px 16px;
    border-radius: 16px;
    background-color: silver;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 320px) {
    .work__title {
        font-size: calc(.45455vw + 16.54545px);
    }
}

@media (min-width: 1200px) {
    .work__title {
        font-size: 22px;
    }
}

.work__text {
    font-size: 14px;
}

@media (min-width: 993px) {
    .work .hb_back {
        padding: 30px;
    }
}

.footer {
    position: relative;
    padding: 50px 0;
    text-align: center;
}